.cssH2 {
    color: #e2001a;
    margin: 0 0 15px;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.3;
}

.cssLabelText {
    margin-bottom: 5px;
    color: #666;
    font-size: 13px;
}

ion-input, ion-textarea {
    --padding-start: 8px !important;
    border: 1px solid #999999;
    border-radius: 3px;
}

.cssButtonSubmit {
    font-size: 20px;
    height: 32px;
    width: 70px;
}

p {
    line-height: 22px;
    margin: 0 0 10px;
    color: #666;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}