<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button meni="m1">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <!-- <div>
          <img src="https://3kpnuxym9k04c8ilz2quku1czd-wpengine.netdna-ssl.com/wp-content/uploads/2013/10/Screen-shot-2013-10-27-at-10.51.49-PM.png" />
        </div> -->
        <!-- <h2 class="cssH2">Contact Us</h2> -->
        <div>
          <form #contactUsForm="ngForm" (ngSubmit)="onSubmit()">
            <ion-list>
              <ion-item lines="none">
                <ion-label class="cssLabelText" position="stacked">Name :</ion-label>
                <ion-input type="text" ngModel name="name" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="cssLabelText" position="stacked">Email :</ion-label>
                <ion-input type="email" ngModel name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,8}$" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="cssLabelText" position="stacked">Telephone :</ion-label>
                <ion-input type="tel" ngModel name="telephone" minlength="10" maxlength="10" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="cssLabelText" position="stacked">Comment :</ion-label>
                <ion-textarea rows="4" ngModel name="comment" required></ion-textarea>
              </ion-item>
              <ion-item lines="none">
                <ion-button class="cssButtonSubmit" type="submit" [disabled]="!contactUsForm.valid || onCheckValid()">
                  Send
                </ion-button>
              </ion-item>
            </ion-list>
          </form>
        </div>
        <!-- <div *ngIf="fetchedAddress != null"> -->
          <!-- <div [innerHTML]="addressImage"> -->
            
            <!-- <img
              src="https://www.indian-grill.com/wp-content/uploads/2016/11/IMG_0118.jpg"
            /> -->
          <!-- </div> -->
          <!-- <div style="margin-top: 12px;"> -->
            <!-- <p>
              <strong>Indain Grill</strong>
              <br>
              <strong>HotBreads Cakes & Curries</strong>
              <br>
              <strong>969 Bethlehem Pike</strong>
              <br>
              <strong>Montgomeryville PA 18936</strong>
            </p>
            <p>Phone: 215-855-4900</p>
            <p>E-mail: contact@indian-grill.com</p>
            <p>Website: indian-grill.com</p> -->
            <!-- <p [innerHTML]="address"></p> -->
          <!-- </div> -->
        <!-- </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
