.cssDivAboutUs {
    background: #f1f1f1;
}

.cssDivWhoWeAre {
    padding: 30px 30px 20px;
}

.cssH2 {
    color: #e2001a;
    margin: 0 0 15px;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.3;
}

p {
    line-height: 22px;
    margin: 0 0 10px;
}

.cssPAboutUs {
    color: #666;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.cssPFeatured {
    color: #666;
    font-style: italic;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
}

.cssBusinessInfo {
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
    color: #e2001a;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.3;
}

.cssBusinessDetails {
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #444;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;

}

.cssLabelInfo {
    color: #666;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.cssColList {
    padding: 0;
}