<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button meni="m1">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <div class="cssDivAboutUs">
          <div>
            <img
              src="https://www.indian-grill.com/wp-content/uploads/2016/11/IMG_0118.jpg"
            />
          </div>
          <div class="cssDivWhoWeAre" *ngIf="fetchedDATA != null">
            <h2 class="cssH2">{{fetchedDATA.title}}</h2>
            <p class="cssPAboutUs">
              {{fetchedDATA.about}}
            </p>
            <p class="cssPFeatured">
              {{fetchedDATA.goal}}
            </p>
          </div>
        </div>
        <br>
        <div>
          <img src="https://www.indian-grill.com/wp-content/uploads/2016/11/dine-in-area.jpg" />
        </div>
        <div>
          <h2 class="cssBusinessInfo">BUSINESS INFO</h2>
          <h3 class="cssBusinessDetails">Business Details</h3>
          <ion-row>
            <ion-col size="4">
              <ion-label class="cssLabelInfo">Cuisines</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label class="cssLabelInfo">Buffet, fast food and Indian/Pakistani</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-label class="cssLabelInfo">Parking</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label class="cssLabelInfo">Parking lot parking</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-label class="cssLabelInfo">Price Range</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label class="cssLabelInfo">$</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-label class="cssLabelInfo">Specialities Serve</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label class="cssLabelInfo">Lunch and Dinner</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-label class="cssLabelInfo">Services</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-row>
                <ion-col class="cssColList">
                  <ion-label class="cssLabelInfo">Walk-ins Welcome</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="cssColList">
                  <ion-label class="cssLabelInfo">Good for Groups</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="cssColList">
                  <ion-label class="cssLabelInfo">Good for Kids</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="cssColList">
                  <ion-label class="cssLabelInfo">Take Outs</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="cssColList">
                  <ion-label class="cssLabelInfo">Delivery</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="cssColList">
                  <ion-label class="cssLabelInfo">Catering</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="cssColList">
                  <ion-label class="cssLabelInfo">Waiter Service</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
