img {
    height: 375px;
    width: 100%;
}

p {
    line-height: 22px;
    margin: 0 0 10px;
    color: #666;
    font-size: 15px;
    line-height: 1.5;
    // letter-spacing: 0.5px;
}

.cssMenuName {
    --background: #e2001a;
    color: #fff;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #e2001a86;
}