<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button meni="m1">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Order Now</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <div>
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <img
                src="https://www.indian-grill.com/wp-content/uploads/2016/11/IMG_0118.jpg"
              />
            </ion-slide>
            <ion-slide>
              <img
                src="https://www.indian-grill.com/wp-content/uploads/2016/11/dine-in-area.jpg"
              />
            </ion-slide>
            <ion-slide>
              <img
                src="https://www.indian-grill.com/wp-content/uploads/2016/11/IMG_0118.jpg"
              />
            </ion-slide>
          </ion-slides>
        </div>
        <div>
          <p>
            For any type of special event, our professionals staff serves best
            in class facilities and services. Our goal is to make your moment
            memorable. Indian Grill helps you to bring your dream plan into
            reality. We make sure to serve you with world-class event planning
            services.So, if you want to make your dream event memorable, Indian
            Grill is the best option to achieve that with utmost elegance.
          </p>
        </div>
        <div class="accordion">
          <!-- <ion-list>
            <ion-item lines="none" button class="cssMenuName" detail="false" *ngFor="let m of menu" (click)="toggleAccordion(m)">
              <ion-icon name="add" color="light" slot="start" *ngIf="!m.isMenuOpen"></ion-icon>
              <ion-icon name="remove" color="light" slot="start" *ngIf="m.isMenuOpen"></ion-icon>
              <ion-label>{{m.name}}</ion-label>
            </ion-item>
          </ion-list> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
