// .divStyle {
//   margin-top: 12vw;
//   margin-bottom: 8vw;
// }

ion-item {
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    text-align: center;
}

.menuLabel {
  color: #e2001a;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
//   align-self: center;
}

ion-icon {
  font-size: 32px;
}
