<ion-app>
  <ion-menu side="start" menuId="m1" type="overlay" contentId="my-content">
    <ion-content>
      <div class="divStyle">
        <ion-button (click)="onMenuClose()" fill="clear">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      </div>
      <ion-list>
        <ion-menu-toggle>
          <ion-item button lines="none" (click)="onHome()" detail="false">
            <ion-label class="menuLabel">Home</ion-label>
          </ion-item>
          <ion-item button lines="none" (click)="onAboutUs()" detail="false">
            <ion-label class="menuLabel">About Us</ion-label>
          </ion-item>
          <ion-item button lines="none" (click)="onContactUs()" detail="false">
            <ion-label class="menuLabel">Contact Us</ion-label>
          </ion-item>
          <ion-item button lines="none" (click)="inAppB()" detail="false">
            <ion-label class="menuLabel">Order Now</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="my-content"></ion-router-outlet>
</ion-app>