<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button meni="m1">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <div class="cssDivAboutUs">
          <div>
            <div>
              <img
                src="https://www.indian-grill.com/wp-content/uploads/2016/11/IMG_0118.jpg"
              />
            </div>
            <div class="cssDivWhoWeAre">
              <h2 class="cssH2">About Us</h2>
              <p class="cssPAboutUs" *ngIf="aboutDescription != null">
                {{aboutDescription.descp}}
              </p>
            </div>
                <p class="cssPFeatured">
                  We serve halal meat
                </p>
          </div>
          <div style="margin-top: 35px;">
            <h2 class="cssH2Testimonial">Our Testimonial</h2>
            <ion-row>
              <ion-col style="text-align: center;">
                <ion-icon name="quote" color="primary" class="cssIconTestimonial"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide *ngFor="let testimonial of testimonialData">
                <p class="cssPTestimonial">
                  <strong>{{testimonial.testimonials}}</strong>
                  <br>
                  <br>
                  {{testimonial.author}}
                </p>
              </ion-slide>
            </ion-slides>
          </div>
        </div>
        <div *ngIf="resTimingData != null">
          <h3 class="cssH3">{{resTimeTitle}}</h3>
          <!-- <ion-row>
            <ion-col class="cssColTiming">
              <ion-label class="cssLabelTiming"><b>Open 7 days Week</b></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cssColTiming">
              <ion-label class="cssLabelTiming"><b>Monday to Thursday</b></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cssColTiming">
              <ion-label class="cssLabelTiming">11:30 AM to 10:00 PM</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cssColTiming">
              <ion-label class="cssLabelTiming"><b>Friday and Saturday</b></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cssColTiming">
              <ion-label class="cssLabelTiming">11:30 AM to 10:30 PM</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cssColTiming">
              <ion-label class="cssLabelTiming"><b>Sunday</b></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cssColTiming">
              <ion-label class="cssLabelTiming">11:30 AM to 09:30 PM</ion-label>
            </ion-col>
          </ion-row> -->
          <ion-row *ngFor="let arr of resTimingData">
            <ion-col class="cssColTiming">
              <ion-label class="cssLabelTiming" [innerHTML]="arr"></ion-label>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <ion-button expand="block" color="primary" (click)="inAppB()">
          Order Now
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
