.cssDivAboutUs {
  background: #f1f1f1;
}

.cssDivWhoWeAre {
  padding: 30px 30px 20px;
}

.cssH2 {
  color: #e2001a;
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.3;
}

p {
  line-height: 22px;
  margin: 0 0 10px;
}

.cssPAboutUs {
  color: #666;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.cssPFeatured {
  color: #666;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  // font-size: 40px;
  // font-family: "Seaweed Script";
  font-size: 32px;
}

ion-slides {
  height: 160px;
}

.cssH2Testimonial {
  color: #000000;
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.3;
  text-align: center;
}

.cssIconTestimonial {
  font-size: 40px;
}

.cssPTestimonial {
  color: #666;
  padding: 5px 10px 0;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.7px;
  opacity: 1;
  // overflow: hidden;
  text-align: center;
}

.cssH3 {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  margin: 30px 0 25px;
}

.cssColTiming {
  text-align: center;
  margin: 8px;
}

.cssLabelTiming {
  font-size: 15px;
}
